@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
    /* Cores */
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #ffffff60;
    /* Paleta de Cores */
    --cor01: #082D67;
    --cor02: #082B59;
    --cor03: #13366C;
    --cor04: #3C5788;
    --cor05: #09265D;
}

* {
    margin: 0; padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to left, #082D67, #082B59, #13366C, #3C5788, #09265D);
}
main {
    width: 40%;
    height: 60%;
    border: 1px solid var(--cor-terciaria);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
h1 {
    font-size: 2.5em;
    color: var(--cor-secundaria);
    font-family: 'Orbitron';
    text-shadow: 0px 0px 4px var(--cor-primaria);
}
h3 {
    font-family: 'Orbitron';
}
section {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
button {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor01);
    color: var(--cor-secundaria);
    width: 30%;
    font-family: 'Orbitron';
    font-size: 1.4em;
    transition: all 0.5s ease-in-out;
}
button:hover {
    cursor: pointer;
    transform: scale(1.2);
}